<?xml version="1.0" encoding="utf-8"?>
<!--
    SnooZy Charger
    Power Connection manager. Turn the screen off on power connection
    or disconnection, to save battery consumption by the phone's display.

    Copyright (C) 2013 Mudar Noufal <mn@mudar.ca>

    This file is part of SnooZy Charger.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mudar.snoozy"
    android:installLocation="internalOnly"
    android:versionCode="2"
    android:versionName="@string/app_version">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="false"
            android:label="@string/activity_settings"
            android:parentActivityName="ca.mudar.snoozy.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.snoozy.ui.activity.MainActivity" />

        </activity>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:exported="false"
            android:label="@string/activity_about"
            android:parentActivityName="ca.mudar.snoozy.ui.activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.snoozy.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.EulaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/activity_eula"
            android:parentActivityName="ca.mudar.snoozy.ui.activity.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mudar.snoozy.ui.activity.AboutActivity" />

        </activity>

        <receiver
            android:name=".receiver.ForceLockDeviceAdminReceiver"
            android:description="@string/admin_device_app_desc"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.PowerConnectionReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.mudar.snoozy.notify_deleted" />
            </intent-filter>
        </receiver>
        <service android:name=".service.DelayedLockService" />

        <provider
            android:name=".provider.ChargerProvider"
            android:authorities="ca.mudar.snoozy.provider" />
    </application>

</manifest>
